<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-custom-blue text-white vh-100 p-3">
      <img src="logo/ensetlogo.png" alt="Logo ENSET" style="width: 150px; height: 100px;">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/home/dashboard" routerLinkActive="active">
            <i class="bi bi-speedometer2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/home/products" routerLinkActive="active">
            <i class="bi bi-box-seam"></i> Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/home/upload" routerLinkActive="active">
            <i class="bi bi-upload"></i> Upload
          </a>
        </li>
      </ul>
      <button class="btn btn-danger mt-4 w-100" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Sign Out
      </button>
    </div>

    <div class="col-md-10 p-4">
      
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div>